@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>David News is a RSS reader example to demonstrate the use of Redis when building applications using .NET</h3>

<p>To download the source code and get additional information, visit the project at <a href="http://github.com/davidjrh">http://github.com/davidjrh</a></p>

<address>
    David Rodriguez<br />
    Twitter: <a href="http://twitter.com/davidjrh">@@davidrh</a><br />
</address>
